.dropcap-first p:first-letter{font-weight: bold; text-transform: uppercase;}
.blocks-builder-dropcap-main{margin-bottom:10px;}
.blocks-builder-dropcap-main-in{padding:10px;}
.blocks-builder-dropcap-main-in p{margin-bottom:10px; line-height:normal !important; margin-top:10px;}
.dropcap-first.block-custom-1-txt-14 p:first-letter{font-size:38px;}
.dropcap-first.block-custom-1-txt-15 p:first-letter{font-size:40px;}
.dropcap-first.block-custom-1-txt-16 p:first-letter{font-size:42px;}
.dropcap-first.block-custom-1-txt-17 p:first-letter{font-size:44px;}
.dropcap-first.block-custom-1-txt-18 p:first-letter{font-size:46px;}
.dropcap-first.block-custom-1-txt-19 p:first-letter{font-size:48px;}
.dropcap-first.block-custom-1-txt-20 p:first-letter{font-size:50px;}
.dropcap-first.block-custom-1-txt-21 p:first-letter{font-size:52px;}
.dropcap-first.block-custom-1-txt-22 p:first-letter{font-size:54px;}
.dropcap-first.block-custom-1-txt-23 p:first-letter{font-size:56px;}
.dropcap-first.block-custom-1-txt-24 p:first-letter{font-size:58px;}
.dropcap-first.block-custom-1-txt-25 p:first-letter{font-size:60px;}
.dropcap-first.block-custom-1-txt-26 p:first-letter{font-size:62px;}
.dropcap-first.block-custom-1-txt-27 p:first-letter{font-size:64px;}
.dropcap-first.block-custom-1-txt-28 p:first-letter{font-size:66px;}
.dropcap-first.block-custom-1-txt-29 p:first-letter{font-size:68px;}
.dropcap-first.block-custom-1-txt-30 p:first-letter{font-size:70px;}
.dropcap-first.block-custom-1-txt-31 p:first-letter{font-size:72px;}
.dropcap-first.block-custom-1-txt-32 p:first-letter{font-size:74px;}
.dropcap-first.block-custom-1-txt-33 p:first-letter{font-size:76px;}
.dropcap-first.block-custom-1-txt-34 p:first-letter{font-size:78px;}
.dropcap-first.block-custom-1-txt-35 p:first-letter{font-size:80px;}
.dropcap-first.block-custom-1-txt-36 p:first-letter{font-size:82px;}
.dropcap-first.block-custom-1-txt-37 p:first-letter{font-size:84px;}
.dropcap-first.block-custom-1-txt-38 p:first-letter{font-size:86px;}
.dropcap-first.block-custom-1-txt-39 p:first-letter{font-size:88px;}
.dropcap-first.block-custom-1-txt-40 p:first-letter{font-size:90px;}