.blocks-builder-admin-setting-common p{margin-bottom:10px;}
.edit-post-visual-editor .blocks-builder-dropcap-main-in p{line-height:normal !important;}
.editor-styles-wrapper .blocks-builder-dropcap-main-in p{margin-bottom:10px; margin-top:10px; }