.facebook-round-shap{border-radius:50%;}
.editor-styles-wrapper .blocks-builder-social-content-ul li{display:inline-block; list-style-type:none; text-align:center; margin:7px; width:35px; height:35px; line-height:35px;}
.blocks-builder-social-content-ul li a{padding:5px 11px; text-decoration:none;}
.blocks-builder-admin-setting-common p{margin-bottom:10px;}
.editor-styles-wrapper  .blocks-builder-social-main-hed h3{padding:0px;}