.blocks-builder-social-main{margin-bottom:10px;}
.round-shap{border-radius:50%;}
.blocks-builder-social-content-ul{padding:0px; margin:0px;}
.blocks-builder-social-content-ul li{display:inline-block; list-style-type:none; text-align:center; margin:7px;  width:35px; height:35px; line-height:35px;}
.blocks-builder-social-content-ul li a{padding:5px 11px; text-decoration:none; box-shadow:none; border-bottom:none;}
.blocks-builder-social-content-ul li a:hover{box-shadow:none;}
.blocks-builder-social-main-hed h3{text-transform:none;}