.wp-block-custome-block1 .organic-profile-image1 {width:40%; display:inline-block; padding:15px;}
.wp-block-custome-block1 .organic-profile-image1 img{width:100%; }
.wp-block-custome-block1 .block-custom-1{width:60%;display:inline-block; vertical-align:top; padding:15px;}
.editor-styles-wrapper .components-toolbar img{width:20px; height:20px;}
.editor-styles-wrapper .block-custom-1 h3{padding:0px;}
.editor-styles-wrapper .social-common a{color:#fff;}
