.blocks-builder-separator-comm{display:table; height:1px;}
.blocks-builder-separator-short{width:250px; margin:auto;}
.blocks-builder-separator-full{width:100%;}
.blocks-builder-separator-main{margin-bottom:10px;}